*{

margin: 0;
padding: 0;

} 

body {
      min-height: 100vh;
     background-image: url(images/background.jpg);

background-size: cover;
background-repeat: repeat;
background-position: center center;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;

    }

    
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 700px;
        font-size: 100px;
        color: #f95b00e8;
    }


    nav {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

nav a {
    display: block;
    align-items: flex-start;
    padding: 10px 20px;
    text-decoration: none;
    color: #d0c201;
    font-size: 20px;
}


p {
    color: aliceblue;
    background-color: #531010;
}

    section {
      padding: 20px;
      max-width: 800px;
      margin: auto;
    }


    h2 {
      border-bottom: 2px solid #fa8e00;
      padding-bottom: 10px;
      color: #f40404;
    }

    ul {
      list-style: none;
      padding: 0;
    }


    li {
      background-color: #c4dd73ef;
      margin: 10px 0;
      padding: 10px;
      border-radius: 5px; 
    }


    h3 {
        color: #f6d70d;
    }
        

    footer {
       display: flex;
       justify-content: center;
       align-items: flex-end;
       


      background-color: #531010;
      color: #b5cfae;
      text-align: center;
      padding: 10px;
    }


    footer {
        position: fixed;
        bottom: 0%;
        width:  100%;

    }